extends layout

block content
  div(ng-controller='dashboardCtrl')
    form
      div
        div
          h2.sectionheader Custom Query
        div
        button.btn.float-right.btn-primary.btn-submit.pull-right(type='submit' ng-click='submitEventQuery()') Submit
      div: textarea.form-control.textarea-data(ng-model='eventQueryText')
    table.table(ng-show='results.length > 0')
      thead
        tr
          th
          th Workflow
          th Session ID
          th Timestamp
          th Account ID
          th Component ID
          th Event Type
      tbody
        tr(ng-repeat='result in results')
          td: input(type='checkbox' ng-model='result.isSelected')  
          td {{ result.workflow }}
          td {{ result.session }} 
          td {{ result.timestamp }}
          td {{ result.userId }}
          td {{ result.componentId }}
          td {{ result.eventType }}
    div
      div
        h2.sectionheader Metrics
      div
        button.btn.btn-tos(ng-click='clickToS()') ToS
        button.btn.btn-tssr TSSR
        button.btn.btn-ar AR
    div
      div
        label.metric-label(ng-show='metricType') {{ metricType }}: Targeting by Custom Set
      div
        div(ng-show='metricType')
          input(type='checkbox')
        div.row
          div.col-md-7
            table.table.metric-table(ng-show='metricType')
              thead
                tr
                  th Session ID
                  th Workflow
                  th Account ID
                  th ToS
                tbody
                  tr(ng-repeat='metric in customSetMetrics')
                    td {{ metric.sessionId }} 
                    td {{ metric.workflow }}
                    td {{ metric.accountId }}
                    td {{ metric.tos }}
          div.col-md-5
            canvas.chart.chart-bar#bar(ng-hide='isMerged' data='customSetToS' labels='customSetLabels' colours='customSetColor')
            canvas.chart.chart-bar#bar(data='mergedToS' labels='mergedLabels' colours='mergedColors')
      div
        div
          label.metric-label(ng-show='metricType') {{ metricType }}: Targeting by Subpage
        div
          div(ng-show='metricType')
            input(type='checkbox')
          div.row
            div.col-md-7
              table.table.metric-table(ng-show='metricType')
                thead
                  tr
                    th Session ID
                    th Workflow
                    th Account ID
                    th ToS
                  tbody
                    tr(ng-repeat='metric in subpageMetrics')
                      td {{ metric.sessionId }} 
                      td {{ metric.workflow }}
                      td {{ metric.accountId }}
                      td {{ metric.tos }}
            div.col-md-5
              canvas.chart.chart-bar#bar(ng-hide='isMerged' data='subpageToS' labels='subpageLabels' colours='subpageColor')
      button.btn.btn-primary(ng-show='metricType' ng-click='clickMerge()') Merge
        
    
